

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-569355978915447678.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-569355978915447678.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-569355978915447678.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-569355978915447678.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-569355978915447678.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-569355978915447678.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-569355978915447678.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-569355978915447678.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-569355978915447678.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-569355978915447678.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-569355978915447678.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-569355978915447678.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-569355978915447678.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-569355978915447678.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-569355978915447678.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-569355978915447678.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-569355978915447678.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-569355978915447678.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-569355978915447678.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-569355978915447678.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-569355978915447678.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-569355978915447678.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-569355978915447678.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-569355978915447678.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-569355978915447678.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-569355978915447678.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-569355978915447678.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-569355978915447678.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-569355978915447678.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-569355978915447678.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-569355978915447678.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-569355978915447678.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-569355978915447678.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-569355978915447678.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-569355978915447678.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-569355978915447678.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-569355978915447678.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-569355978915447678.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-569355978915447678.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-569355978915447678.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-569355978915447678.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-569355978915447678.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-569355978915447678.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-569355978915447678.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-569355978915447678.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-569355978915447678.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-569355978915447678.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-569355978915447678.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-569355978915447678.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-569355978915447678.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-569355978915447678.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-569355978915447678.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-569355978915447678.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-569355978915447678.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-569355978915447678.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-569355978915447678.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-569355978915447678.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-569355978915447678.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-569355978915447678.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-569355978915447678.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-569355978915447678.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-569355978915447678.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-569355978915447678.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-569355978915447678.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-569355978915447678.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-569355978915447678.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-569355978915447678.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-569355978915447678.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-569355978915447678.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-569355978915447678.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-569355978915447678 .gp-absolute{position:absolute}.gps-569355978915447678 .gp-relative{position:relative}.gps-569355978915447678 .gp-z-1{z-index:1}.gps-569355978915447678 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-569355978915447678 .gp-mb-0{margin-bottom:0}.gps-569355978915447678 .gp-flex{display:flex}.gps-569355978915447678 .gp-grid{display:grid}.gps-569355978915447678 .\!gp-hidden{display:none!important}.gps-569355978915447678 .gp-hidden{display:none}.gps-569355978915447678 .gp-h-full{height:100%}.gps-569355978915447678 .gp-w-full{width:100%}.gps-569355978915447678 .gp-max-w-full{max-width:100%}.gps-569355978915447678 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-569355978915447678 .gp-flex-col{flex-direction:column}.gps-569355978915447678 .gp-items-center{align-items:center}.gps-569355978915447678 .\!gp-justify-center{justify-content:center!important}.gps-569355978915447678 .gp-gap-y-0{row-gap:0}.gps-569355978915447678 .gp-overflow-hidden{overflow:hidden}.gps-569355978915447678 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-569355978915447678 .gp-duration-200{transition-duration:.2s}.gps-569355978915447678 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-569355978915447678 .tablet\:gp-relative{position:relative}.gps-569355978915447678 .tablet\:\!gp-hidden{display:none!important}.gps-569355978915447678 .tablet\:gp-hidden{display:none}.gps-569355978915447678 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-569355978915447678 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-569355978915447678 .mobile\:gp-relative{position:relative}.gps-569355978915447678 .mobile\:\!gp-hidden{display:none!important}.gps-569355978915447678 .mobile\:gp-hidden{display:none}.gps-569355978915447678 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-569355978915447678 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-569355978915447678 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-569355978915447678 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-569355978915447678 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-569355978915447678 .\[\&_p\]\:gp-inline p{display:inline}.gps-569355978915447678 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-569355978915447678 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:0px;--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:0px;--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="i2l20b3fee3db" data-id="i2l20b3fee3db"
        style="--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:rgb(132, 76, 37);--bgi:url()"
        class="i2l20b3fee3db gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-rewrap_row_crAUHAOBUWSJ gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:604px;--h-tablet:500px;--h-mobile:500px;--d:flex;--d-tablet:flex;--d-mobile:flex;--mt:0px;--ml:auto;--mb:0px;--mr:auto">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageciepgzxqca.png","width":1439,"height":604},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"tablet":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageciepgzxqca.png","width":1439,"height":604},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"},"mobile":{"size":"cover","type":"image","color":"","image":{"src":"https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageciepgzxqca.png","width":1439,"height":604},"repeat":"no-repeat","position":{"x":50,"y":50},"attachment":"scroll"}},"uid":"rewrap_row_crAUHAOBUWSJ","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"},"mobile":{"cols":[12],"display":"fill"},"tablet":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="rewrap_row_crAUHAOBUWSJ gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--h:604px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="rewrap_row_crAUHAOBUWSJ"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:604px;--h-tablet:500px;--h-mobile:500px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageciepgzxqca.png" />
      <source media="(max-width: 1024px)" srcset="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageciepgzxqca.png" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageciepgzxqca.png"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:604px;--h-tablet:500px;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgi:url(https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageciepgzxqca.png);--bgi-tablet:url(https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageciepgzxqca.png);--bgi-mobile:url(https://image2layout-detection-trainimagebucket-1t760016bxdvp.s3.amazonaws.com/image2layout/atom_imageciepgzxqca.png);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--cg-tablet:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="c-hb-rewrap_row_crAUHAOBUWSJ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="sp-c-nsw-i2l679298f4bf" data-id="sp-c-nsw-i2l679298f4bf"
        style="--mt:auto;--ml:1px;--mb:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:auto;--mr-tablet:auto;--cg:32px;--cg-tablet:32px;--pc:center;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1004px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="sp-c-nsw-i2l679298f4bf gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="c-nsw-i2l679298f4bf gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="SEFlnsRxLoDA">
    <div
      parentTag="Col"
        class="SEFlnsRxLoDA "
        style="--ta:center;--mt:0px;--ml:0px;--mb:16px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:33px;--size-tablet:32px;--size-mobile:29px;--c:rgb(253, 253, 253);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gSEFlnsRxLoDA_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="apdEOCGpgmRi">
    <div
      parentTag="Col"
        class="apdEOCGpgmRi "
        style="--ta:center;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:19px;--size-tablet:18px;--size-mobile:16px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gapdEOCGpgmRi_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-569355978915447678 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/zsqie8-wr/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=569355722106602476&sectionId=569355978915447678)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gSEFlnsRxLoDA_text","label":"gSEFlnsRxLoDA_text","default":"Better Skin & Hair Or Your Money Back."},{"type":"html","id":"gapdEOCGpgmRi_text","label":"gapdEOCGpgmRi_text","default":"30-Day Risk-Free Guarantee.Not satisfied with your product?Return it to us, risk-free in 30 days. That's how confident we are that you'll like the product.."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
